.wrapper {
  padding: 5px 20px;
}

.wrapper fieldset {
  margin: 20px 0;
}

.wrapper fieldset input{
  border-width: 3px;
  display: block;
  border-radius: 5px;
  border-style: solid;
}

*:focus {
  outline: none;
}